server {
        listen {{ http_port }};
        listen [::]:{{ http_port }};
        server_name prom{{ env_domain }}.{{ current_domain }};

        location / {
            proxy_pass         http://{{ app_host_ip }}:{{ prom_host_port }};
            proxy_set_header   Host $http_host;
            proxy_set_header   X-Forwarded-Host $http_host;
            proxy_set_header   X-Forwarded-Server $http_host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-Proto $scheme;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        }
}
